/*Dropped styles*/

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    color: var(--dark);
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-light);
  }
  
  :root {
    /* --accent: #e7e9fc;
    --dark: #2e2f42;
    --gradient-bg: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --light: #f4f4fd;
    --socicon-footer: rgba(255, 255, 255, 0.1);
    --success: #31D0AA;
    --text: #434455;
    --white: #ffffff;   
    --bg-second:#2e3c49; */
    --bg-light: #fbf2f2;
    --bg-dark: #070707;
    --second-bg: #12171d;
    --red: #ff5e5e;
    --form-item: #ff5e5e84;
    --color-light: #fff;
    --box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --fill: #8E8F99; 
    --modal: rgba(46, 47, 66, 0.4);
    --dark-text: #12171d;
    --focus: #7d0101;
    --pressed-state: #070707;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-dark);
    color: var(--color-light);;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:var(--second-bg);
    /* #efdbf6 */
}

.logo {
    color: var(--color-light);
}
.logo span, .footer-logo span {
    color: var(--red);
}
/* .logo img {
    width: 100px;
} */

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
}

nav ul li a.active {
    color: var(--red);
}

nav ul li a:hover {
    color: var(--red);
}

.languages {
    display: flex;
    gap: 10px;
}

.languages a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
}

.languages a:hover {
    color: var(--red);
}

.languages a.active {
    color: var(--red);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#aboutUs {
    padding: 60px 0;
    text-align: center;

}
.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-text {
    width: 70ch;
    text-align: left;
    color: white;
    font-family: monospace;
    font-size: 30px;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 3px solid red; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
    padding-bottom: 15px;
}
@keyframes cursor {
    0% {
        border-color: var(--bg-dark);
    }
        
    50% {
        border-color: var(--red);
    }

    100% {
        border-color: var(--bg-dark);
    }
}

@keyframes printed_text {
    from {
        width: 0;
    }
}

.service-title {
    background-color: var(--red);
    padding: 20px;
    text-align: center;
    color: var(--color-light);
    font-size: 1.2em;
}

.service-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px 0;
}

.service-text {
    line-height: 1.3;
    font-size: 18px;
    margin-top: 50px;
    position: relative;
}

.service-text h2 {
    padding: 20px 0;
    text-align: center;
}

.item-service-text {
    margin-bottom: 200px;
}
.btn {
    position: absolute;
    left: 36%;
    top: 120%;
    cursor: pointer;
    justify-content: center;
    padding: 15px 20px;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--red);
    color: var(--color-light);
    padding: 10 15;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:var(--second-bg);
    font-size: 0.9em;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer-info p {
    padding-bottom: 6px;
}

.footer-logo {
    padding-bottom: 10px;
    font-weight: 700;
}

footer a {
    color: var(--color-light);
    text-decoration: none;
}

footer a:hover {
    color: var(--red);
}
.contacts, .nip-regon {
    text-align: left;
    font-style: normal;
}

/* --- MOBILE MENU --- */
.menu-open-btn, .mob-menu {
    display: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal,
.mob-menu.is-hidden {
    transform: translate(-50%, -50%) scaleY(0);
}

.mob-menu {
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: #fff;
    z-index: 1;
    
    padding: 20px;

    transition: opacity var(--transition), visibility var(--transition);
}

.mob-menu-list {
    margin-bottom: 24px;
    padding-top: 70px;
    ;
}

.container-mob-menu {
    min-width: 290px;
    height: 100%;
    position: relative;
}

.backdrop-mobile {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.mob-menu > .container-mob-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    overflow-y: auto;
}

.mob-menu-item:not(:last-child), 
.mob-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-address-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(20 / 24);
    letter-spacing: 0.02em;

    color: var(--text);
    transition: color var(--transition);
}

.mob-tel:is(:hover, :focus),
.mob-mail:is(:hover, :focus) {
  color: var(--pressed-state);
}

.mob-soc-list {
    display: flex;
    margin: 40px 0 0;
}
.mob-soc-items {
    flex-basis: calc((100% - 56px) / 3);
}
.mob-soc-link {
    background-color: var(--pressed-state);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: var(--light);
    transition: background-color var(--transition);
}
.soc-link:is(:hover, :focus) {
    background-color: var(--primary);
}
.soc-icons {
    fill: currentColor;
    transition: color var(--transition);
}

/* --- MODAL WINDOW --- */
/* .modal {
    width: 408px;
    min-height: 600px;
    padding: 24px;
    
} */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--modal);

    transition: opacity var(--transition), visibility var(--transition);  
}

.modal{
    position: absolute;
    left: 50%;
    top: 40%;   

    padding: 24px 16px;
    margin-top: 80px;

    min-width: 290px;
    min-height: 80vh;

    background: #FCFCFC;
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scaleY(1);
    transition: transform var(--transition);
}

.modal-close-btn {
    position: absolute;
    display: flex;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 16px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--transition);
}

.modal-close-btn:is(:hover, :focus) {
    background-color: var(--primary);
    fill: var(--light);
}

.modal-titel {
    font-size: 16px;
    line-height: 1.11;
    margin-top: 20px;
    margin-bottom: 16px;
    color: var(--dark-text);
}

.modal-form {
    display: flex; 
    flex-direction: column;
}

.form-items-wraper:nth-child(-n + 3) {
    margin-bottom: 26px;
}

.label-text {
    font-size: 12px;
    line-height: 1.34;
    letter-spacing: 0.04em;
    color: var(--fill);
}

.form-item {
    width: 100%;
    height: 30px;
    padding-left: 40px;

    border: 1px solid var(--form-item);
    border-radius: 4px;

    outline: transparent;
    transition: border-color var(--transition);
}

.form-item:focus {
    border-color: var(--focus);
}

.form-item:focus + .form-icons {
    fill: var(--focus);
}

.textarea {
    padding: 8px 16px;
    min-height: 120px;
    width: 100%;
    resize: none;
}

.textarea::placeholder {
    font-size: 12px;
    line-height: 1.34;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.form-icons {
    position: absolute;
    left: 20px;
    top: 44%;
    transform: translateY(-50%);
    transition: fill var(--pressed-state);
}

.privacy-policy {
    position: relative;
    display: flex;
    align-items: center;
}

.checkbox-input:checked + .text-privacy-policy::before {
    background-color: var(--pressed-state);
    background-image: url(./img/icon-click.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1.25px solid var(--pressed-state);
    border-radius: 2px;
}

.text-privacy-policy {
    font-size: 10px;
    line-height: 1.34;
    letter-spacing: 0.02em;
    color: #757575;

    margin-top: 11px;
    margin-bottom: 10px;
    padding-left: 4px;

    display: flex;
    align-items: center;
}

.input-wrap {
    position: relative;
    margin-top: 4px;
}

.link-privacy-policy {
    text-transform: capitalize;
    padding-left: 0.2em;
    font-size: 9px;
    color: var(--dark-text);
    
    margin-left: 4px;
}

.btn-form-send {
    margin-top: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition), box-shadow var(--transition);
}

.btn-form-send > span {
    padding: 0 32px;
}

.services-button {
    background-color: var(--red);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: var(--color-light);
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    text-align: center;

    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;

    transition: background-color var(--transition), box-shadow var(--transition);
}

.services-button:hover, 
.services-button:focus, 
.btn-form-send:hover,
.btn-form-send:focus {
    background-color: var(--pressed-state);
    color: var(--fill);
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);

    cursor: pointer;
}