* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #070707;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #faf8f4;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a.active {
    color: #ff5e5e;
}

.languages {
    display: flex;
    gap: 10px;
}

.languages a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.languages a:hover {
    color: #ff5e5e;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.service-wrap {
    background-color: #d71105;
    /*#2e3c49*/
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #faf8f4;
    font-size: 0.9em;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: #ff5e5e;
}
